<html>
<head>
      <title>Invitation to join TribeP41 on Tribe
</title>
    <meta content="Invitation to join TribeP41 on Tribe" property="og:title">
<meta content="Invitation to join TribeP41 on Tribe" property="twitter:title">
<meta content="Tribe is a next-generation group chat platform where you can go deep on your interests with fascinating people." property="og:description">
<meta content="Tribe is a next-generation group chat platform where you can go deep on your interests with fascinating people." property="twitter:description">
<meta content="Tribe is a next-generation group chat platform where you can go deep on your interests with fascinating people." name="description">
<meta content="http://localhost:3000/invites/icon.png" name="image">
<meta content="http://localhost:3000/invites/icon.png" property="og:image">
<meta content="http://localhost:3000/invites/icon.png" property="twitter:image">
<meta content="TribeP41" name="keywords">
<meta content="summary" property="twitter:card">
<body>
  test6
</body>
</html>
